table.first {
  margin: 0 auto;
  border-collapse: collapse;
  width: 90%;
  border: solid 1px;
}

table.first th, table.first td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th, td {
  text-align: center;
  padding: 8px;
  border: 1px solid #ddd;
}

.main-column th {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}

.even-row {
  background-color: #f2f2f2;
}

.odd-row {
  background-color: #ccc;
}

.filter-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.filter-icon button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 3px;
}

.filter-icon button:hover {
  color: #007bff;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 300px;
  text-align: center;
}

.modal-content h2 {
  margin-bottom: 15px;
}

.modal-content input {
  width: 90%;
  margin: 10px 0;
  padding: 10px;
}

.modal-content button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #0056b3;
}
