
table {
  border-collapse: collapse;
  width: 100%;
  padding: 23%;
}

th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
  background-color: #f0f0f0;

}


.table{
  padding: 3%;
  padding-bottom: 30%;
}
