<div class="banniere">
  <div class="first">
    <h2>Gestion des pays</h2>

    <div class="recherche">
      <input
        placeholder="Rechercher..."
        (input)="onSearch($event)" />

      <button type="button">Exporter en csv</button>
    </div>
  </div>

  <div class="actions">
    <a></a>
    <button type="button" (click)="openAddCountryModal()">Ajouter</button>
  </div>

  <div *ngIf="showModal" class="modal">
    <div class="modal-content">
      <h2>Ajouter un pays</h2>
      <span (click)="closeModal()" class="close">&times;</span> <br>
      <input [(ngModel)]="newCountry.nom" placeholder="Nom" />
      <input [(ngModel)]="newCountry.population" placeholder="Population" />
      <input [(ngModel)]="newCountry.superficie" placeholder="Superficie" />
      <input [(ngModel)]="newCountry.continent" placeholder="Continent" />
      <input [(ngModel)]="newCountry.pib" placeholder="PIB" />
      <input [(ngModel)]="newCountry.imageUrl" placeholder="Image URL" />
      <button  type="button" (click)="addCountry()">Ajouter</button>
    </div>
 </div>
</div>
