.banniere {
  background-color: #fff;
  padding: 10px;
}

.recherche {
  display: flex;
  margin-bottom: 20px;
  justify-content: flex-end;
}


.recherche button[type="button"] {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
  border-radius: 20px;
  padding: 10px;
  margin-inline: 8px;
}

.first{
  display: flex;
  justify-content: space-between;
}
.actions {
  display: flex;
  justify-content: space-between;
}

 button {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
  border-radius: 10px;
  padding: 10px;
  margin-inline: 8px;
}

input {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
  background-color: #f0f0f0;

}

